services:
  caddy:
    hostname: proxyparty
    image: ${PROXYPARTY_CADDY_IMAGE:-ghcr.io/recaptime-dev/proxyparty-caddy/caddy-builds:latest}
    ports:
      # HTTP/HTTPS ports
      - "80:80"
      - "443:443"
      # Admin API endpoints, only exposed over localhost for security reasons
      - "127.0.0.1:20241:20241"
      - "127.0.0.1:2019:20241"
    volumes:
      - ./config/caddy:/etc/caddy
      - ./pages:/var/lib/caddy/pages
      - caddy-state:/data
      - caddy-config:/config
    restart: always
    env_file: .env.production.decrypted
    networks: [proxyparty-caddy]

networks:
  proxyparty-caddy:
    name: proxyparty-caddy-router

volumes:
  caddy-state:
  caddy-config:
