### DO NOT TOUCH ANYTHING BELOW THIS LINE ###

{
  # Don't send us email over there! It's only used for cert related notifications
  # on LENCR.
  email recaptimedev-internal-aaaanq4tfq2enunuq2hun7a63a@hackclub.slack.com
  admin off
  storage s3 {
    host "https://33e6189a4a87f1923e71af8da171e2ed.r2.cloudflarestorage.com"
    bucket "caddy-datastore"
    access_id {env.CF_R2_ACCESS_KEY}
    secret_key {env.CF_R2_ACCESS_SECRET}
    prefix "proxyparty"
  }
  http_port 8080
}

tls {
  dns cloudflare {env.CF_BOT_TOKEN}
  resolvers 1.1.1.1
}

### DO NOT TOUCH ANYTHING ABOVE THIS LINE ###

http://proxypartylab.up.railway.app {
  redir https://github.com/recaptime-dev/proxyparty-caddy
}

http://proxyparty.recaptime.dev {
    redir https://github.com/recaptime-dev/proxyparty-caddy
}


http://crew.recaptime.dev {
    redir https://wiki.recaptime.dev/domains/crew.recaptime.dev
}