body {
  max-width: 800px;
  background-color: #343434;
  margin: 0;
  font: 11pt monospace;
  padding: 0;
}

.freeze {
  color: #009485;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  flex-direction: column;
}

h1,code,p {
  color: white;
  text-align: center;
}

code {
  display: flex;
  gap: 10px;
  background-color: #1E1E1E;
  color: #00FF00;
  padding: 0.5rem;
}
