name: Docker Builds
permissions:
  packages: write
  contents: read
on:
  push:
    branches: ["*"]
    paths:
      - docker/Dockerfile
      - pages/**
      - .github/workflows/docker-build.yml
  workflow_dispatch:

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to GitLab Container Registry
        uses: docker/login-action@v2
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.RTDEVBOT_GITLAB_SERVICE_ACCOUNT }}
          password: ${{ secrets.RTDEVBOT_GITLAB_REGISTRY_TOKEN }}

      - name: Generate metadata for Docker images
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/recaptime-dev/proxyparty-caddy/caddy-builds
            registry.gitlab.com/recaptime-dev/infra/proxyparty-caddy/caddy-builds
          tags: |
            type=ref,event=branch,prefix=branch-
            type=sha,format=long,prefix=commit-
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,prefix=build-,value={{commit_date 'YYYYMMDDHHmmss' tz='Etc/UTC'}}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push proxyparty-caddy image
        id: proxyparty-caddy-image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
